:root {
    /* font variables */ 
    --font-primary: 'Spartan', sans-serif;
    --font-header: 'Noto Serif Display', serif;

    /* color variables */ 
    --clr-background-dark: black;   
    --clr-background-light: white;
    --clr-lightgray: #4F6367;
    --clr-red: #ED0505; 

    /* border radius */ 
    --radius: 0.2rem;
}

*,
*:before, 
*:after {
    box-sizing: border-box; 
}

/* this will remove margins on tags below and make elements flush to window border*/
body,
h1,
h2,
h3,
h4,
p {
    margin: 0; 
}

/* ^all the above is defult settings for a good css page*/

body {
    background: var(--clr-background-light);
}

.second-container,
.third-container {
    background: var(--clr-background-light); 
    margin-top: 2rem;
}


/* || Header */

.nav-list {
    background: var(--clr-background-light);
    box-shadow: 0px 0px 10px var(--clr-background-light);
    margin: 0; 
    padding: 1rem 0; /* top and botton 1rem, left and right 0 */
    border-radius: var(--radius); /* round out corners*/ 
    display: flex; 
    justify-content: center;
    align-items: center; /* elements go to the center of the nav list */ 
}

.nav-item {
    list-style: none; /* remove bullet points */ 
    margin-right: 2rem; /* breathing room between elements; way to do this with flex?? */ 
}
 
.btn-footer {
    font-size: 1rem; 
    font-family: var(--font-primary);
    color: white; 
    background: var(--clr-red); 
    border: none; /* get rid of the border lines that are default */ 
    outline: none; /* get rid of the border lines that are default */ 
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-footer:hover{
    /* add any animations on the buttons here */
}

.video-primary {
    width: 100%; 
    height: auto; 
    position: relative;
}

.message-primary p {
    font-family: var(--font-header); 
    font-size: 2.7rem; 
    color: white; 
    position: absolute;
    left: 12%; 
    top: 30%
}

.btn-primary {
    font-size: 1.4rem; 
    font-family: var(--font-primary);
    color: white;
    background: var(--clr-red);
    border: none; /* get rid of the border lines that are default */ 
    outline: none; /* get rid of the border lines that are default */ 
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    left: 12%; 
    top: 48%
}

/* || About Section */

.about {
    display: flex; 
}

/* || Services Section */ 

.services {
    display: flex; 
}

/* || Location Section */ 
.location {
    display: flex; 
}

/* || Instagram Review Bar */

.fifth-container {
    background-color: black;
}

.insta-container {
    display: flex; 
    margin-left: 2.5rem;
}

.insta-container * {
    width: 87%;
    height: auto;
    position: relative;
}

#insta-img {
    cursor: pointer;
    transition: all 200ms ease-in;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    transition: .5 ease; 
    opacity: 0; 
}

.text-overlay .text {
    color: white; 
}

#insta-img:hover {
    opacity: 0.5;
}

.insta-review:hover .text-overlay {
     opacity: 1; 
}

/* || Footer with SVG Animation */ 

footer { 
    background-color: black;
}

.footer-container {
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    color: #E5E5E5; 
}

#btn-and-license {
    align-content: center;
}

svg path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 10s linear forwards; 
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    } 
}