:root {
    /* font variables */ 
    --font-primary: 'Spartan', sans-serif;
    --font-header: 'Noto Serif Display', serif;

    /* color variables */ 
    --clr-background-dark: black;   
    --clr-background-light: white;
    --clr-lightgray: #4F6367;
    --clr-red: #ED0505; 

    /* border radius */ 
    --radius: 0.2rem;
}

*,
*:before, 
*:after {
    box-sizing: border-box; 
}

/* this will remove margins on tags below and make elements flush to window border*/
body,
h1,
h2,
h3,
p {
    margin: 0; 
}

/* ^all the above is defult settings for a good css page*/

body {
    background: var(--clr-background-dark);
}

.second-container,
.third-container, 
footer {
    background: var(--clr-background-light); 
}

.nav-list {
    background: var(--clr-background-dark);
    box-shadow: 0px 0px 10px var(--clr-background-light);
    margin: 0; 
    padding: 1rem 0; /* top and botton 1rem, left and right 0 */
    border-radius: var(--radius); /* round out corners*/ 
    display: flex; 
    justify-content: end;
    align-items: center; /* elements go to the center if the nav list */ 
}

.nav-item {
    list-style: none; /* remove bullet points */ 
    margin-right: 2rem; /* breathing room between elements; way to do this with flex?? */ 
}

.nav-item a { /* remove underline and blue color from links */ 
    text-decoration: none;
    font-family: var(--font-primary);
    color: white; 
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: var(--clr-red); 
}

.nav-item:first-child {
    margin-right: auto; 
    margin-left: 2rem;
}

.btn-header, 
.btn-footer {
    font-size: 1rem; 
    font-family: var(--font-primary);
    background: white;
    border: none; /* get rid of the border lines that are default */ 
    outline: none; /* get rid of the border lines that are default */ 
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-header:hover,
.btn-footer:hover{
    background: var(--clr-red);
    color: white;
}

.video-primary {
    width: 100%; 
    height: auto; 
    position: relative;
}

.message-primary p {
    font-family: var(--font-header); 
    font-size: 2.7rem; 
    color: white; 
    position: absolute;
    left: 12%; 
    top: 30%
}

.btn-primary {
    font-size: 1.4rem; 
    font-family: var(--font-primary);
    color: white;
    background: var(--clr-red);
    border: none; /* get rid of the border lines that are default */ 
    outline: none; /* get rid of the border lines that are default */ 
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    position: absolute;
    left: 12%; 
    top: 48%
}


.mission {
    display: flex; 
}

.service-area {
    display: flex; 
}

.insta-container {
    display: flex; 
}

.insta-container * {
    width: 50%;
    height: auto;
}

.footer-container {
    display: flex; 
}

